.stock-container {
  border: 1px solid black;
  border-radius: 5px;
  
  padding: 10px;
}
.stock-container>div
{
    display:flex;
}
.positive {
  color: green;
}
.negative {
  color: red;
}

.large-change {
  font-size: 40px;
}
.small-change {
  font-size: 20px;
}