.heading
{
    font-size:30px;
    text-align:center;
    font-style:italic;
    text-decoration: underline;
    color:rgb(249, 97, 249);
}
.container
{
    display:flex;
    gap:20px;
    flex-wrap:wrap
}